@charset "utf-8";

/* blog */

#blog {
  margin: 0 0 50px 0;
}
.blog-area {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.blog-area article:nth-of-type(1) {
  width: 30%;
}

.blog-area .blog-block {
  width: 68%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-area .blog-block article {
  margin: 0 0 3vh 0;
}

.blog-area .blog-block article:nth-of-type(1) {
  width: 42%;
  animation-delay: 0.5s;
}
.blog-area .blog-block article:nth-of-type(2) {
  width: 20%;
  animation-delay: 1.5s;
}
.blog-area .blog-block article:nth-of-type(3) {
  width: 32%;
  animation-delay: 1s;
}

.blog-area .blog-block article:nth-of-type(4) {
  width: 32%;
  animation-delay: 0.8s;
}
.blog-area .blog-block article:nth-of-type(5) {
  width: 20%;
  animation-delay: 1.8s;
}
.blog-area .blog-block article:nth-of-type(6) {
  width: 42%;
  animation-delay: 1.5s;
}

@media screen and (max-width: 1300px) {
  .blog-area .blog-block article:nth-of-type(n + 1) {
    width: 48%;
  }
}

@media screen and (max-width: 820px) {
  .blog-area article:nth-of-type(1) {
    width: 50%;
    margin: 0 auto 3vh auto;
  }

  .blog-area .blog-block article:nth-of-type(1) {
    margin: 0 0 3vh 0;
  }

  .blog-area .blog-block {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .blog-area .blog-block article:nth-of-type(n + 1) {
    animation-delay: 0.5s;
  }

  .blog-area article:nth-of-type(1) {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .blog-area .blog-block article:nth-of-type(n + 1) {
    width: 100%;
    animation-delay: 0s !important;
  }
}

.blog-area h3 {
  font-size: 1rem;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 450px) {
  .blog-area h3 {
    font-size: 0.9rem;
  }

  .blog-area p {
    display: none;
  }
}

.blog-area time {
  font-size: 0.8rem;
}

.blog-area img {
  width: auto;
  height: 32vh;
}

.blog-area article:nth-of-type(1) img {
  height: 67vh;
}

.blog-area .blog-block article:nth-of-type(1) img {
  height: 32vh;
}

@media screen and (max-width: 820px) {
  .blog-area article:nth-of-type(1) img {
    width: 100%;
    height: auto;
  }
  .blog-area .blog-block article:nth-of-type(1) img {
    width: auto;
    height: 32vh;
  }
}

@media screen and (max-width: 450px) {
  .blog-area img,
  .blog-area .blog-block article:nth-of-type(1) img {
    width: 100%;
    height: auto;
  }
}

.blog-area figure time {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(129, 168, 184, 0.8);
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.blog-area p {
  margin: 0 0 20px 0;
  text-align: left;
  font-size: 0.9rem;
}

.blog-area span {
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  font-size: 0.8rem;
  white-space: nowrap;
}
