@charset "UTF-8";
/* base
--------------------------- */
*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: #81a8b8;
  font-family: "Zen Kaku Gothic New", "Sawarabi Gothic", sans-serif;
  color: #585858;
  font-size: 1rem;
  line-height: 1.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  width: 100%;
  overflow-x: hidden;
}
body.appear {
  background: #f8f9fa;
}

img,
video,
object {
  width: 100%;
  height: auto;
  border: none;
  display: block;
}

img {
  vertical-align: bottom;
}

a {
  color: #585858;
  outline: none;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-weight: 500;
}

/* area
--------------------------- */
#container {
  overflow-x: hidden;
}

/* header
--------------------------- */
.header-area {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #f8f9fa;
  text-align: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
}
.header-area span {
  display: block;
}
.header-area h1 {
  display: block;
  width: 60%;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0;
  margin: 0 auto;
  padding: 0 10px;
}

.header-area p {
  font-size: 1.3vw;
  letter-spacing: 0.4em;
  margin: 0 0 20px 0;
}

.header-area p br {
  display: none;
}

.header-logo {
  width: 60%;
}

@media screen and (max-width: 960px) {
  .header-area h1 {
    font-size: 4rem;
    width: 100%;
  }
  .header-area p {
    font-size: 0.8rem;
    white-space: no;
  }
  .header-area p br {
    display: block;
  }
}
#header {
  position: relative; /*背景を設定するdivの基点とするためrelativeをかける*/
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#header-img {
  position: fixed; /*背景を固定するためfixedをかける*/
  z-index: 1; /*#container,#footerよりも下に配置するために数値を小さくする*/
  top: 0; /*topの位置がJSで変化*/
  /*以下画面で背景画像を表示させるための指定*/
  width: 100%;
  height: 100vh;
  background: url("../image/main.jpg") no-repeat top center; /*背景画像の設定*/
  background-size: cover;
  transform-origin: center; /*変化する基点を中心からに設定*/
  opacity: 0.9;
}

#container,
#footer {
  position: relative; /*#header-imgよりも配置を上にするためにrelativeをつける*/
  z-index: 3; /*#header-imgよりもz-indexの値を大きな数値にして上に表示*/
  background: #f8f9fa;
}

.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}
.l-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__logo {
  display: inline-block;
  max-width: 40%;
}
.l-header__logo .c-logo-paw-lg {
  display: none;
}
@media (min-width: 1100px) {
  .l-header__logo .c-logo-paw-lg {
    display: block;
  }
  .l-header__logo .c-logo-paw {
    display: none;
  }
}

/* footer
--------------------------- */
#footer {
  border-top: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: url(../image/polaroid.webp);
}
#footer span.footer-description {
  color: #6091a6;
}

#footer dl {
  width: 30%;
}

#footer dl dt {
  font-size: 0.8rem;
}

#footer dl dd {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  #footer dl {
    margin: 50px 0;
  }
}
@media screen and (max-width: 768px) {
  #footer dl dd {
    font-size: 1.5rem;
  }
}
#footer .footer-list {
  width: 65%;
  text-align: right;
}

#footer ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 0.8rem;
  line-height: 3;
}

#footer small {
  text-align: right;
  margin: 20px 0 0 0;
  display: block;
  width: 100%;
  font-size: 0.7rem;
}

#footer #page-top span {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(45deg);
}

@media screen and (max-width: 900px) {
  #footer dl,
#footer .footer-list,
#footer small {
    width: 100%;
    text-align: center;
  }
}
.footer-logo {
  width: 80%;
  margin: 0 auto;
}
/* inner
--------------------------- */
.inner {
  width: 100%;
  margin: 0 auto;
  padding: 70px;
}

@media screen and (max-width: 940px) {
  .inner {
    padding: 30px;
  }
}
@media screen and (max-width: 450px) {
  .inner {
    padding: 16px;
  }
}
/* section
--------------------------- */
.c-section__header-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #4c8aa4;
  padding-top: 80px;
}
.c-section__header {
  font-weight: 600;
  font-size: 2.2rem;
}
.c-section__header::after {
  content: " /";
}
.c-section__header--sub {
  font-weight: 400;
  font-size: 1.4rem;
  padding-left: 0;
}
@media screen and (max-width: 450px) {
  .c-section .c-section__header {
    font-size: 1.6rem;
  }
  .c-section .c-section__header--sub {
    font-size: 1rem;
  }
}
.c-section__catch {
  color: #4c8aa4;
  font-weight: 600;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-bottom: 3.2rem;
}
@media (min-width: 520px) {
  .c-section__catch {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
.c-section__text {
  font-size: 1.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 6.4rem;
}
@media (min-width: 520px) {
  .c-section__text {
    padding-top: 2rem;
    margin-bottom: 2.6rem;
    font-size: 1.8rem;
  }
}
/* scrolldown
--------------------------- */
/*スクロールダウン全体の場所*/
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: fixed;
  left: 50%;
  bottom: 10px;
  /*全体の高さ*/
  height: 50px;
  z-index: 2;
}

.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #f8f9fa;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

.scrolldown::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #f8f9fa;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
/*スクロールダウン全体の場所*/
.scrolldown2 {
  /*描画位置※位置は適宜調整してください*/
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 2;
}

/*Scrollテキストの描写*/
.scrolldown2 span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color: #f8f9fa;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f8f9fa;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.scrolldown2:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: #f8f9fa;
}

/* accordion
--------------------------- */
/*アコーディオン全体*/
.c-accordion {
  list-style: none;
  width: 98%;
  max-width: 1100px;
  margin: 0 auto;
}
@media (min-width: 520px) {
  .c-accordion {
    width: 96%;
  }
}
@media (min-width: 1100px) {
  .c-accordion {
    width: 94%;
  }
}

.c-accordion__list {
  margin: 10px 0;
  background-color: #f8f9fa;
}

.c-accordion__section {
  border: 1px solid #f8f9fa;
}

/*アコーディオンタイトル*/
.c-accordion__title {
  position: relative; /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.3s ease;
}
@media (min-width: 520px) {
  .c-accordion__title {
    font-size: 1.1rem;
  }
}
/*アイコンの＋と×*/
.c-accordion__title::before,
.c-accordion__title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}

.c-accordion__title::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.c-accordion__title::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/
.c-accordion__title.close::before {
  transform: rotate(45deg);
}

.c-accordion__title.close::after {
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.c-accordion__box {
  display: none; /*はじめは非表示*/
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 6%;
}

/*========= レイアウトのためのCSS ===============*/
.c-accordion__title.close::before {
  transform: rotate(45deg);
}

.c-accordion__title.close::after {
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.c-accordion__box {
  display: none; /*はじめは非表示*/
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 6%;
  font-size: 0.8rem;
}
@media (min-width: 520px) {
  .c-accordion__box {
    font-size: 1rem;
  }
}
/* button
--------------------------- */
.btn {
  position: relative;
  display: inline-block;
  color: #585858;
  padding: 10px 20px;
  background: transparent;
  text-decoration: none;
  outline: none;
  border: 1px solid #bababa;
  transition: all 0.3s;
  transition-delay: 0.7s;
  width: 250px;
}

.btn:hover {
  background: #81a8b8;
  border: 1px solid #81a8b8;
  color: #fff;
}

.btn span {
  display: block;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: #81a8b8;
  transition: all 0.2s linear;
}

.btn span::before,
.btn span::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0;
  background: #81a8b8;
  transition: all 0.2s linear;
}

.btn:hover::before,
.btn:hover::after {
  width: 100%;
}

.btn:hover span::before,
.btn:hover span::after {
  height: 100%;
}

.bordercircle::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.bordercircle span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.bordercircle::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.bordercircle span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

/* page-top
--------------------------- */
/*==================================================
機能編　8-1-4	ページ内にある指定の範囲内で下から出現
===================================*/
/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #81a8b8;
  width: 60px;
  height: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}

#page-top a:hover {
  background: #999;
  height: 55px;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*　下に下がる動き　*/
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
/* animation
--------------------------- */
.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 2s; /*ゆっくり出現するため数値変更*/
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.zoomIn {
  animation-name: zoomInAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes zoomInAnime {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
.zoomOut {
  animation-name: zoomOutAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes zoomOutAnime {
  from {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.flipLeft {
  animation-name: flipLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  perspective-origin: left center;
  opacity: 0;
}

@keyframes flipLeft {
  from {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0;
  }
  to {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.zoomOutTrigger {
  opacity: 0;
}

/*===========================================================*/
/* 印象編　8 テキストの動き　/
/*===========================================================*/
/*========= 8-2 テキストが流れるように出現（左から右） ===============*/
/*全共通*/
.slide-in {
  overflow: hidden;
  display: inline-block;
  padding: 0 10px; /*英語がはみ出るので見えるように余白追記*/
}

.slide-in_inner {
  display: inline-block;
}

/*左右のアニメーション*/
.leftAnime,
.rightAnime {
  opacity: 0; /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name: slideText-100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideText-100 {
  from {
    transform: translateX(-100%); /*要素を左の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0); /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.slideAnimeRightLeft {
  animation-name: slideText100;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideText100 {
  from {
    transform: translateX(100%); /*要素を右の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0); /*要素を元の位置に移動*/
    opacity: 1;
  }
}
/* modal
--------------------------- */
/*全て共通：hideエリアをはじめは非表示*/
.hide-area {
  display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}

/*確認を促すモーダル：タイトルの色を変更したい場合*/
#modaal-title {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 20px 0;
}

/*動画表示のモーダル：余白を変更したい場合*/
.modaal-video .modaal-inner-wrapper {
  padding: 0;
}

/* insta-feed
--------------------------- */
.lightwidget {
  font-family: "Zen Kaku Gothic New", "Sawarabi Gothic", sans-serif !important;
}

.insta-feed__wrapper {
  padding-top: 4rem;
}
.insta-feed__message {
  padding: 4rem 0;
}
.insta-feed__message .follow-us {
  width: 40%;
  margin: 0 auto;
}
@media (min-width: 520px) {
  .insta-feed__message .follow-us {
    width: 20%;
  }
}
@media (min-width: 1100px) {
  .insta-feed__message .follow-us {
    width: 12%;
  }
}
.insta-feed__message .icon-instagram {
  width: 10%;
  margin: 0 auto;
  padding: 2rem 0 4rem;
}
@media (min-width: 520px) {
  .insta-feed__message .icon-instagram {
    width: 6%;
  }
}
@media (min-width: 1100px) {
  .insta-feed__message .icon-instagram {
    width: 4%;
  }
}
.insta-feed__message p {
  font-size: 0.8rem;
  text-align: center;
}
@media (min-width: 520px) {
  .insta-feed__message p {
    font-size: 1rem;
  }
}
/* splash
--------------------------- */
#splash-logo p {
  font-size: 1.8rem;
  font-weight: normal;
  white-space: nowrap;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #81a8b8;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/
/*画面遷移アニメーション*/
.splashbg1,
.splashbg2 {
  display: none;
}

body.appear .splashbg1,
body.appear .splashbg2 {
  display: block;
}

/*右に消えるエリア*/
body.appear .splashbg1 {
  animation-name: PageAnime;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: scaleX(1);
  background-color: #81a8b8; /*伸びる背景色の設定*/
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
/*左に消えるエリア*/
body.appear .splashbg2 {
  animation-name: PageAnime2;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 50%;
  transform: scaleX(1);
  background-color: #81a8b8; /*伸びる背景色の設定*/
}

@keyframes PageAnime2 {
  0% {
    transform-origin: right;
    transform: scaleX(1);
  }
  50% {
    transform-origin: left;
  }
  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}
/*画面遷移の後現れるコンテンツ設定*/
#wrapper {
  opacity: 0; /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #wrapper {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.openbtn {
  position: fixed;
  z-index: 9999;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 16px;
  height: 2px;
  background-color: #6091a6;
}

.openbtn span:nth-of-type(1) {
  top: 28px;
  width: 60%;
}

.openbtn span:nth-of-type(2) {
  top: 36px;
  width: 40%;
}

.openbtn.active span:nth-of-type(1) {
  top: 24px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 48%;
}

.openbtn.active span:nth-of-type(2) {
  top: 36px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 48%;
}

.mainblur {
  filter: blur(8px);
}

#g-nav {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(129, 168, 184, 0.8);
  transition: all 0.3s;
}

#g-nav.panelactive {
  opacity: 1;
  z-index: 999;
}

#g-nav.panelactive #g-nav-list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav ul {
  display: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav.panelactive ul {
  display: block;
}

#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  letter-spacing: 0.1em;
  font-weight: 500;
}

#g-nav-list li:nth-of-type(1) a {
  font-size: 2rem;
  text-transform: none;
  font-weight: normal;
  line-height: 1;
  white-space: nowrap;
  margin: 0 0 20px 0;
}

.logobtn {
  position: fixed;
  z-index: 9999;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}
@media (min-width: 1100px) {
  .logobtn img {
    width: 80px;
    height: 80px;
  }
}

/* lead
--------------------------- */
#lead {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
  background: url("../image/polaroid.webp");
}

#lead .lead-img {
  width: 46%;
  min-height: 400px;
  background: url("../image/lead.jpg") no-repeat center;
  background-size: cover;
}

#lead .lead-area {
  width: 52%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
}

@media screen and (max-width: 1060px) {
  #lead .lead-img {
    width: 30%;
  }
  #lead .lead-area {
    width: 68%;
  }
}
@media screen and (max-width: 768px) {
  #lead {
    flex-direction: column-reverse;
  }
  #lead .lead-img,
#lead .lead-area {
    width: 100%;
  }
  #lead .lead-img {
    min-height: 250px;
  }
  #lead .lead-area {
    margin: 0 0 140px 0;
    min-height: 20em;
    justify-content: center;
  }
}
#lead .lead-area h2,
#lead .lead-area p,
#lead .lead-area .lead-btn a {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#lead .lead-area h2 {
  width: 28%;
  line-height: 2.5;
  font-size: 1.4rem;
}

#lead .lead-area p {
  width: 48%;
  padding: 50px 0 0 0;
  line-height: 2.8;
}
@media (min-width: 520px) {
  #lead .lead-area p span {
    display: block;
  }
}

@media screen and (max-width: 1300px) {
  #lead .lead-area h2 {
    line-height: 2;
  }
  #lead .lead-area p {
    line-height: 2.3;
  }
}
@media screen and (max-width: 768px) {
  #lead .lead-area .lead-btn {
    width: 100%;
    top: 50px;
    text-align: center;
  }
  .btn04 {
    width: 250px;
  }
  #lead .lead-area h2,
#lead .lead-area p {
    width: auto;
  }
  #lead .lead-area h2 {
    margin: 0 0 0 20px;
    line-height: 2.2;
  }
  #lead .lead-area p {
    line-height: 2;
  }
  #lead .lead-area .lead-btn a {
    writing-mode: horizontal-tb;
  }
  #lead .btn04 {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 470px) {
  #lead .lead-area h2 {
    line-height: 1.8;
  }
  #lead .lead-area p {
    height: 27em;
  }
  #lead .lead-area p .u-mw470 {
    display: block;
  }
  _:-ms-lang(x)::-ms-backdrop,
#lead .lead-area p {
    width: 8em;
  }
  #lead .lead-area p br {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  #lead .lead-area h2 {
    line-height: 1.6;
  }
  #lead .lead-area p {
    line-height: 1.8;
  }
}
/* about
--------------------------- */
.about {
  padding: 70px 0;
  height: auto;
  width: auto;
  background: url(../image/polaroid.webp);
}
.about section {
  margin: 0 0 10px 0;
}
.about section h3 {
  font-size: 0.9rem;
  margin: 0 0 10px 0;
}
.about section p {
  font-size: 0.8rem;
}
.about .menu-area {
  padding: 20px;
  box-shadow: 5px 0 10px #ccc;
}
.about .menu-btn {
  text-align: center;
  margin: 50px 0 0 0;
}

.about__studio-introduction {
  text-align: center;
  width: 80%;
  margin: 0 auto 4rem;
}
.about__studio-description {
  font-size: 0.9rem;
}
@media (min-width: 1100px) {
  .about__studio-description {
    font-size: 1rem;
  }
}
.about__studio-description br {
  display: none;
}
@media (min-width: 520px) {
  .about__studio-description br {
    display: block;
  }
}
.about__studio-description span {
  display: inline-block;
}
.about__studio-text {
  margin-bottom: 16px;
  font-size: 0.8rem;
}
@media (min-width: 520px) {
  .about__studio-text {
    font-size: 0.9rem;
  }
}
@media (min-width: 1100px) {
  .about__studio-text {
    font-size: 1rem;
  }
}
.about__studio-image-box.gallery {
  columns: 2; /*段組みの数*/
}

.about__studio--french-shabby h3,
.about__studio--american-vintage h3 {
  font-size: 30px;
  position: relative;
  padding: 1.5rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 2.4rem;
}
.about__studio--french-shabby h3 span,
.about__studio--american-vintage h3 span {
  font-size: 18px;
  display: block;
  letter-spacing: 0;
  font-weight: 400;
}
.about__studio--french-shabby h3:before,
.about__studio--american-vintage h3:before {
  position: absolute;
  bottom: 5px;
  left: calc(50% - 30px);
  width: 60px;
  height: 2px;
  content: "";
  background: #3e3e3e;
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
  .about__studio-image-box.gallery {
    columns: 2;
  }
}
@media only screen and (max-width: 768px) {
  .about__studio-image-box.gallery.gallery {
    columns: 1;
  }
}
/* studio-gallery
--------------------------- */
.gallery {
  columns: 4; /*段組みの数*/
  padding: 0 8px; /*ギャラリー左右に余白をつける*/
}

.gallery li {
  margin-bottom: 20px; /*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img {
  width: 100%;
  height: auto;
  vertical-align: bottom; /*画像の下にできる余白を削除*/
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
  .gallery {
    columns: 3;
  }
}
@media only screen and (max-width: 768px) {
  .gallery {
    columns: 2;
  }
}
.plan-text {
  text-align: center;
  margin: auto;
  width: 80%;
  padding-bottom: 2rem;
  font-size: 0.8rem;
}
@media (min-width: 1100px) {
  .plan-text {
    font-size: 1rem;
    padding: 2rem;
  }
}

.plan {
  background: url("../image/halftone.png");
}

@media (min-width: 1100px) {
  .plan-content-wrapper {
    display: flex;
  }
}

@media (min-width: 1100px) {
  .p-plan__content--studio, .p-plan__content--location, .p-plan__content--stamp {
    padding: 0;
  }
}
.p-plan__images {
  padding-bottom: 1rem;
}
@media (min-width: 1100px) {
  .p-plan__images {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1100px) {
  .p-plan__content-img {
    margin: 0 auto;
  }
}
.p-plan__content-img-lg {
  display: none;
}
@media (min-width: 520px) {
  .p-plan__content-img-lg {
    display: block;
    width: 82%;
    margin: auto;
  }
}
.p-plan__content-img-lg--second {
  display: none;
}
@media (min-width: 520px) {
  .p-plan__content-img-lg--second {
    display: block;
    width: 82%;
    margin: auto;
  }
}
.p-plan__content-card {
  width: 98%;
  margin: 0 auto;
  background-color: #fff9eb;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 3rem 2rem;
}
@media (min-width: 1100px) {
  .p-plan__content-card {
    width: 32%;
  }
}
.p-plan__content-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
@media (min-width: 1100px) {
  .p-plan__content-title {
    font-size: 1.5rem;
  }
}
.p-plan__content-description {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1100px) {
  .p-plan__content-description {
    margin-bottom: 4rem;
  }
}
.p-plan__price {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}
.p-plan__price-dt {
  padding-left: 10%;
  width: 40%;
}
.p-plan__price-dt--stamp {
  font-size: 1rem;
  width: 100%;
  padding: 0 9%;
}
.p-plan__price-dd {
  width: 60%;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 8%;
}
.p-plan__price-dd::before {
  content: "¥";
}
.p-plan__price-dd::after {
  content: "（税込み）";
  font-size: 0.8rem;
}
.p-plan__price-dd--quantity {
  width: 40%;
  text-align: right;
  font-weight: 500;
}
.p-plan__price-dd--quantity::after {
  content: "枚";
  font-size: 1rem;
  font-weight: 400;
}
.p-plan__price-description {
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 500;
}
.p-plan__price-description span {
  font-weight: 500;
  font-size: 1.2rem;
}
.p-plan__content-card-button--lg {
  text-align: center;
  display: none;
}
.p-plan__button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  text-align: center;
}
/* voice
--------------------------- */
.p-voice {
  background: url("../image/connect.webp");
}
.p-voice__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  grid-gap: 16px;
  width: 98%;
  margin: 0 auto;
}
@media (min-width: 520px) {
  .p-voice__container {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .p-voice__container {
    width: 60%;
  }
}
.p-voice__card {
  position: relative;
  width: 100%;
  perspective: 1000px;
  border-radius: 4px;
  margin-bottom: 0.8rem;
}
.p-voice__card::before {
  content: "";
  display: block;
  padding-top: 66.66%; /* 3:2 */
}
.p-voice__card--front, .p-voice__card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s;
  backface-visibility: hidden;
  border-radius: 4px;
}
.p-voice__card--front {
  color: #3e3e3e;
  border-radius: 4px;
}
.p-voice__card--back {
  color: #e9e9e9;
  background-color: #4c8aa4;
  transform: rotateY(-180deg);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  line-height: normal;
}
.p-voice__card--back a {
  text-decoration: none;
  color: #e9e9e9;
  font-size: 1rem;
}
@media (min-width: 520px) {
  .p-voice__card--back a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1600px) {
  .p-voice__card--back a {
    font-size: 0.8rem;
  }
}
.p-voice__card--image {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.p-voice__icon--instagram {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8%;
}
.p-voice__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  margin-bottom: 2.4rem;
  line-height: normal;
  font-size: 0.9rem;
}

.flipped .p-voice__card--front {
  transform: rotateY(180deg);
}
.flipped .p-voice__card--back {
  transform: rotateY(0);
}

/* contact
--------------------------- */
#contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: url(../image/polaroid.webp);
}

#contact .contact-img {
  width: 70%;
  min-height: 300px;
  background: url("../image/brky-001.jpg") no-repeat center;
  background-size: cover;
}

#contact .contact-area {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 1190px) {
  #contact .contact-img {
    width: 60%;
  }
  #contact .contact-area {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  #contact .contact-img {
    width: 48%;
  }
  #contact .contact-area {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  #contact .contact-img,
#contact .contact-area {
    width: 100%;
  }
  #contact .contact-img {
    margin: 0 0 50px 0;
  }
}
#contact .contact-area h2 {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}

#contact .contact-area dt {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

#contact .contact-area dd {
  font-size: 0.8rem;
  margin: 0 0 30px 0;
}

/* faq
--------------------------- */
.p-faq {
  background: url("../image/halftone.png");
}
.p-faq .contact-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

/* access
--------------------------- */
.access-note {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.8rem;
}
.access-note span {
  display: inline-block;
}
@media (min-width: 520px) {
  .access-note span {
    display: inline;
  }
}
#access {
  background: url(../image/polaroid.webp);
}

#access .access-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#access .access-img {
  width: 70%;
  min-height: 300px;
}

#access .access-area {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 1190px) {
  #access .access-img {
    width: 60%;
  }
  #access .access-area {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  #access .access-img {
    width: 48%;
  }
  #access .access-area {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  #access .access-img,
#access .access-area {
    width: 100%;
  }
  #access .access-img {
    margin: 0 0 50px 0;
  }
}
#access .access-area img {
  width: 40%;
  margin: 0 auto 1rem;
}
@media (min-width: 1100px) {
  #access .access-area img {
    width: 70%;
  }
}

#access .access-area dt {
  font-size: 1rem;
  margin: 0 0 10px 0;
}

#access .access-area dd {
  font-size: 0.8rem;
  margin: 0 0 30px 0;
}

.p-access {
  background-color: #f8f9fa;
}
.p-access__map-box {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 3.2rem;
}
@media (min-width: 520px) {
  .p-access__map-box {
    padding-top: 25%;
  }
}
.p-access__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 520px) {
  .p-access__info-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.p-access__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8rem;
  width: 60%;
  margin: 0 auto;
}
@media (min-width: 520px) {
  .p-access__logo {
    width: 48%;
    padding-left: 24%;
  }
}
.p-access__shop-info {
  padding: 0 0.8rem 1.6rem 1.6rem;
  font-size: 0.8rem;
}
@media (min-width: 520px) {
  .p-access__shop-info {
    width: 60%;
    font-size: 0.9rem;
  }
}
.p-access__shop-info h3 {
  text-align: center;
  padding-bottom: 0.8rem;
  font-weight: 600;
}
@media (min-width: 520px) {
  .p-access__shop-info h3 {
    text-align: left;
  }
}
.p-access__shop-info dt {
  float: left;
  font-weight: 400;
}
.p-access__shop-info dt::after {
  content: ":";
  padding: 0 0.5rem;
}
.p-access__shop-info dd span {
  font-size: 0.8rem;
}
@media (min-width: 520px) {
  .p-access__shop-info dd span {
    font-size: 0.9rem;
  }
}
@media (min-width: 1100px) {
  .p-access__shop-info dd span {
    font-size: 1rem;
  }
}
.p-access__notes {
  font-size: 0.7rem;
  padding-bottom: 2.4rem;
  text-align: center;
}
@media (min-width: 520px) {
  .p-access__notes {
    text-align: center;
  }
}
/* gallery
--------------------------- */
.p-gallery__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  justify-items: center;
  grid-gap: 16px;
}
.p-gallery__item img {
  max-width: 160px;
  height: 160px;
  object-fit: cover;
}
.p-gallery__follow-us {
  padding-top: 4.8rem;
  padding-bottom: 6.4rem;
}
.p-gallery__follow-us img {
  display: block;
  margin: auto;
}
.p-gallery__follow-us p {
  text-align: center;
  padding-top: 2.4rem;
}

/* utility
--------------------------- */
.u-pb32 {
  padding-bottom: 3.2rem;
}

.u-pb32--card {
  padding-bottom: 1.1rem;
  display: none;
}
@media (min-width: 1100px) {
  .u-pb32--card {
    display: block;
  }
}

.u-pb48 {
  padding-bottom: 4.8rem;
}

.u-pb62 {
  padding-bottom: 6.2rem;
}

.u-pb80--plan {
  padding-bottom: 8rem;
  display: none;
}
@media (min-width: 1100px) {
  .u-pb80--plan {
    display: block;
  }
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb8 {
  margin-bottom: 0.5rem;
}

.u-mb16 {
  margin-bottom: 1rem;
}

.u-mb32 {
  margin-bottom: 32px;
}

.u-mb62 {
  margin-bottom: 3.87rem;
}

.u-mw470 {
  display: none;
}

.u-m0auto {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */