@charset "UTF-8";
/* base
--------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #3e3e3e;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: #078fc4;
  text-decoration: underline;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* header
--------------------------- */
.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}
.l-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-header__logo {
  display: inline-block;
  max-width: 40%;
}
.l-header__logo .c-logo-paw-lg {
  display: none;
}
@media (min-width: 960px) {
  .l-header__logo .c-logo-paw-lg {
    display: block;
  }
  .l-header__logo .c-logo-paw {
    display: none;
  }
}

/* footer
--------------------------- */
.l-footer {
  background-color: #3e3e3e;
  color: #d0d0d0;
  padding: 0.8rem 0;
}
.l-footer__copyright {
  display: block;
  text-align: center;
}

/* inner
--------------------------- */
.c-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* section
--------------------------- */
.c-section {
  padding-top: 3.2rem;
}
@media (min-width: 520px) {
  .c-section {
    padding-top: 6.4rem;
  }
}
.c-section__header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 3.2rem;
}
@media (min-width: 520px) {
  .c-section__header-box {
    margin-bottom: 6.4rem;
  }
}
.c-section__header-box--plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 6.4rem;
}
.c-section__header {
  color: #3e3e3e;
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: 0.4rem;
}
@media (min-width: 520px) {
  .c-section__header {
    font-size: 2.4rem;
  }
}
@media (min-width: 960px) {
  .c-section__header {
    font-size: 4rem;
  }
}
.c-section__header--sub {
  color: #3e3e3e;
  font-weight: 400;
  font-size: 1.4rem;
  padding-left: 0.8rem;
}
@media (min-width: 520px) {
  .c-section__header--sub {
    font-size: 1.6rem;
  }
}
@media (min-width: 960px) {
  .c-section__header--sub {
    font-size: 2rem;
  }
}
.c-section__catch {
  color: #4c8aa4;
  font-weight: 600;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-bottom: 3.2rem;
}
@media (min-width: 520px) {
  .c-section__catch {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
.c-section__text {
  font-size: 1.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 6.4rem;
}
@media (min-width: 520px) {
  .c-section__text {
    padding-top: 2rem;
    margin-bottom: 2.6rem;
    font-size: 1.8rem;
  }
}
/* scrolldown
--------------------------- */
/*========= スクロールダウンのためのCSS ===============*/
/*=== 9-1-2 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.c-scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 2;
}

/*Scrollテキストの描写*/
.c-scrolldown span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color: #3e3e3e;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.c-scrolldown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3e3e3e;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  -webkit-animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
          animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@-webkit-keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
/*上から下にかけて丸が透過→不透明→透過する*/
@-webkit-keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.c-scrolldown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: #3e3e3e;
}

/* accordion
--------------------------- */
/*アコーディオン全体*/
.c-accordion {
  list-style: none;
  width: 98%;
  max-width: 900px;
  margin: 0 auto;
}
@media (min-width: 520px) {
  .c-accordion {
    width: 96%;
  }
}
@media (min-width: 960px) {
  .c-accordion {
    width: 94%;
  }
}

.c-accordion__list {
  margin: 10px 0;
  background-color: #fff;
}

.c-accordion__section {
  border: 1px solid #fff;
}

/*アコーディオンタイトル*/
.c-accordion__title {
  position: relative; /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 520px) {
  .c-accordion__title {
    font-size: 1.6rem;
  }
}
/*アイコンの＋と×*/
.c-accordion__title::before,
.c-accordion__title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}

.c-accordion__title::before {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.c-accordion__title::after {
  top: 48%;
  left: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/
.c-accordion__title.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-accordion__title.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.c-accordion__box {
  display: none; /*はじめは非表示*/
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 6%;
}

/*========= レイアウトのためのCSS ===============*/
.c-accordion__title.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-accordion__title.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.c-accordion__box {
  display: none; /*はじめは非表示*/
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 6%;
  font-size: 1.4rem;
}
@media (min-width: 520px) {
  .c-accordion__box {
    font-size: 1.5rem;
  }
}
/* button
--------------------------- */
.c-button__reserve {
  border: #3e3e3e 1px solid;
  padding: 1.6rem 5.6rem;
  margin-bottom: 4.8rem;
}
.c-button__reserve--pc {
  border: #3e3e3e 1px solid;
  padding: 1.6rem 5.6rem;
  display: none;
}
@media (min-width: 960px) {
  .c-button__reserve--pc {
    display: block;
  }
}
.c-button__line {
  border: #3e3e3e 1px solid;
  padding: 1.6rem 1.4rem;
}

/* hamburger
--------------------------- */
.p-openbtn {
  position: relative; /*ボタン内側の基点となるためrelativeを指定*/
  width: 52px;
  height: 64px;
  cursor: pointer;
}

/*ボタン内側*/
.p-openbtn span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  left: 16px;
  height: 2px;
  background-color: #3e3e3e;
}

.p-openbtn span:nth-of-type(1) {
  top: 28px;
  width: 60%;
}

.p-openbtn span:nth-of-type(2) {
  top: 36px;
  width: 40%;
}

.p-openbtn.active span:nth-of-type(1) {
  top: 24px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 48%;
}

.p-openbtn.active span:nth-of-type(2) {
  top: 36px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 48%;
}

/* hero
--------------------------- */
.p-hero {
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #81a8b8;
  background: url(../image/hero-img.jpg) no-repeat top center;
  background-size: cover;
  -webkit-transform-origin: center;
          transform-origin: center;
}

/* about
--------------------------- */
.p-about {
  height: auto;
  width: auto;
  background-image: url(../image/polaroid.webp);
  background-repeat: repeat;
}
.p-about__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 960px) {
  .p-about__logo {
    display: block;
  }
}
@media (min-width: 960px) {
  .p-about__logo .logo-text {
    display: none;
  }
}
.p-about__logo .logo-text-lg {
  display: none;
}
@media (min-width: 960px) {
  .p-about__logo .logo-text-lg {
    display: block;
  }
}
@media (min-width: 520px) {
  .p-about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 4rem;
  }
}
@media (min-width: 960px) {
  .p-about__content {
    padding-left: 8rem;
  }
}
.p-about__content-main {
  width: 100%;
}
@media (min-width: 520px) {
  .p-about__content-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 6rem 0 2rem;
  }
}
@media (min-width: 960px) {
  .p-about__content-description {
    padding-left: 6.4rem;
  }
}
.p-about__studio {
  padding-bottom: 8rem;
  /*ギャラリー内のイメージは横幅100%にする*/
  /*========= レイアウトのためのCSS ===============*/
  /*画像を出現させるアニメーションCSS*/
}
.p-about__studio .gallery {
  -webkit-columns: 1;
     -moz-columns: 1;
          columns: 1; /*段組みの数*/
}
@media (min-width: 520px) {
  .p-about__studio .gallery {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}
@media (min-width: 960px) {
  .p-about__studio .gallery {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
  }
}
.p-about__studio .gallery li {
  margin-bottom: 16px; /*各画像下に余白をつける*/
}
.p-about__studio .gallery img {
  width: 100%;
  height: auto;
  vertical-align: bottom; /*画像の下にできる余白を削除*/
}
.p-about__studio a {
  color: #333;
}
.p-about__studio a:hover,
.p-about__studio a:active {
  text-decoration: none;
}
.p-about__studio .flipLeft {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: none;
          transform: none;
  ransition: unset;
}
@media (min-width: 960px) {
  .p-about__studio .flipLeft {
    -webkit-animation-name: flipLeft;
            animation-name: flipLeft;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-perspective-origin: left center;
            perspective-origin: left center;
    opacity: 0;
  }
}
@-webkit-keyframes flipLeft {
  from {
    -webkit-transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes flipLeft {
  from {
    -webkit-transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0;
  }
  to {
    -webkit-transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
            transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
  }
}

/* plan
--------------------------- */
.p-plan {
  background: url(../image/halftone.png);
}
@media (min-width: 960px) {
  .p-plan__content--studio, .p-plan__content--stamp {
    position: relative;
    width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  .p-plan__content--studio {
    height: 664px;
  }
}
.p-plan__content--location {
  background: url(../image/seamless_paper_texture.webp);
  padding-top: 6.4rem;
}
@media (min-width: 960px) {
  .p-plan__content--location {
    height: 744px;
    position: relative;
    margin: 0 auto;
  }
}
.p-plan__content--stamp {
  padding-top: 6.4rem;
}
@media (min-width: 960px) {
  .p-plan__content--stamp {
    height: 840px;
  }
}
.p-plan__images {
  padding-bottom: 2.4rem;
}
@media (min-width: 960px) {
  .p-plan__images {
    position: absolute;
    z-index: 5;
  }
}
@media (min-width: 960px) {
  .p-plan__images.second-right {
    position: absolute;
    top: 36%;
    right: 0;
    width: 55%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media (min-width: 520px) {
  .p-plan__content-img {
    display: none;
  }
}
.p-plan__content-img-lg {
  display: none;
}
@media (min-width: 520px) {
  .p-plan__content-img-lg {
    display: block;
    width: 75%;
    margin: auto;
  }
}
@media (min-width: 960px) {
  .p-plan__content-img-lg {
    margin: 0;
    width: 536px;
  }
}
.p-plan__content-card {
  width: 98%;
  padding-top: 3.2rem;
  margin: 0 auto;
  background-color: #fff9eb;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media (min-width: 520px) {
  .p-plan__content-card {
    width: 75%;
  }
}
@media (min-width: 960px) {
  .p-plan__content-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 4rem;
  }
}
@media (min-width: 960px) {
  .p-plan__content-card.first-right, .p-plan__content-card.third-right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 700px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-left: 3%;
  }
}
@media (min-width: 960px) {
  .p-plan__content-card.second-left {
    position: absolute;
    top: 32%;
    left: 50;
    width: 700px;
    padding-right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 960px) {
  .p-plan__content-card.second-left .child-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (min-width: 960px) {
  .p-plan__content-card.second-left .child-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 960px) {
  .p-plan__content-card.third-right {
    top: 54%;
  }
}
@media (min-width: 960px) {
  .p-plan__content-card-wrapper {
    width: 420px;
  }
}
.p-plan__content-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
@media (min-width: 960px) {
  .p-plan__content-title {
    font-size: 2.4rem;
  }
}
.p-plan__content-description {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
}
@media (min-width: 960px) {
  .p-plan__content-description {
    font-size: 1.8rem;
  }
}
.p-plan__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.6rem;
  line-height: 2;
}
.p-plan__price-dt {
  padding-left: 10%;
  width: 40%;
}
.p-plan__price-dt--stamp {
  font-size: 1.5rem;
  line-height: 1.4;
  width: 100%;
  padding: 0 9%;
}
.p-plan__price-dd {
  width: 60%;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  padding-left: 8%;
}
.p-plan__price-dd::before {
  content: "¥";
}
.p-plan__price-dd::after {
  content: "（税込み）";
  font-size: 1.2rem;
}
.p-plan__price-dd--quantity {
  width: 40%;
  text-align: right;
  font-weight: 600;
}
.p-plan__price-dd--quantity::after {
  content: "枚";
  font-size: 1.4rem;
  font-weight: 400;
}
.p-plan__price-description {
  padding-bottom: 4.8rem;
  text-align: center;
  font-weight: 600;
}
.p-plan__price-description span {
  font-weight: 500;
  font-size: 1.8rem;
}
.p-plan__content-card-button--lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.p-plan__button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.8rem;
}
@media (min-width: 960px) {
  .p-plan__button-area {
    display: none;
  }
}

/* voice
--------------------------- */
.p-voice {
  background-image: url(../image/connect.webp);
}
.p-voice__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 16px;
}
.p-voice__card {
  position: relative;
  width: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  border-radius: 4px;
  margin-bottom: 0.8rem;
}
.p-voice__card::before {
  content: "";
  display: block;
  padding-top: 66.66%; /* 3:2 */
}
.p-voice__card--front, .p-voice__card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}
.p-voice__card--front {
  color: #3e3e3e;
  border-radius: 4px;
}
.p-voice__card--back {
  color: #e9e9e9;
  background-color: #4c8aa4;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}
.p-voice__card--back a {
  text-decoration: none;
  color: #e9e9e9;
}
.p-voice__card--image {
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.p-voice__icon--instagram {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8%;
}
.p-voice__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.4rem;
}

.flipped .p-voice__card--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.flipped .p-voice__card--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* faq
--------------------------- */
.p-faq {
  background-image: url(../image/seamless_paper_texture.webp);
}

/* access
--------------------------- */
.p-access {
  background-color: #d0d0d0;
}
.p-access__map-box {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 3.2rem;
}
.p-access__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 520px) {
  .p-access__info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.p-access__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.8rem;
}
@media (min-width: 520px) {
  .p-access__logo {
    width: 48%;
    padding-left: 24%;
  }
}
.p-access__shop-info {
  padding: 0 0.8rem 1.6rem 1.6rem;
  font-size: 1.4rem;
}
@media (min-width: 520px) {
  .p-access__shop-info {
    width: 60%;
    font-size: 1.6rem;
  }
}
.p-access__shop-info h3 {
  text-align: center;
  padding-bottom: 0.8rem;
  font-weight: 600;
}
@media (min-width: 520px) {
  .p-access__shop-info h3 {
    text-align: left;
  }
}
.p-access__shop-info dt {
  float: left;
  font-weight: 400;
}
.p-access__shop-info dt::after {
  content: ":";
  padding: 0 0.5rem;
}
.p-access__shop-info dd span {
  font-size: 1.2rem;
}
@media (min-width: 520px) {
  .p-access__shop-info dd span {
    font-size: 1.4rem;
  }
}
.p-access__notes {
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
}
@media (min-width: 520px) {
  .p-access__notes {
    text-align: center;
  }
}
/* gallery
--------------------------- */
.p-gallery__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  justify-items: center;
  grid-gap: 16px;
}
.p-gallery__item img {
  max-width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-gallery__follow-us {
  padding-top: 4.8rem;
  padding-bottom: 6.4rem;
}
.p-gallery__follow-us img {
  display: block;
  margin: auto;
}
.p-gallery__follow-us p {
  text-align: center;
  padding-top: 2.4rem;
}

/* utility
--------------------------- */
.u-pb32 {
  padding-bottom: 3.2rem;
}

.u-pb32--card {
  padding-bottom: 3.2rem;
  display: none;
}
@media (min-width: 960px) {
  .u-pb32--card {
    display: block;
  }
}

.u-pb48 {
  padding-bottom: 4.8rem;
}

.u-pb62 {
  padding-bottom: 6.2rem;
}

.u-pb80--plan {
  padding-bottom: 8rem;
  display: none;
}
@media (min-width: 960px) {
  .u-pb80--plan {
    display: block;
  }
}

.u-mb0 {
  margin-bottom: 0;
}

.u-mb8 {
  margin-bottom: 0.8rem;
}

.u-mb62 {
  margin-bottom: 6.2rem;
}