@charset "UTF-8";
/* base
--------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: #078fc4;
  text-decoration: underline;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* header
--------------------------- */
.l-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}
.l-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-header__logo {
  display: inline-block;
  max-width: 40%;
}
.l-header__logo .c-logo-paw-lg {
  display: none;
}
@media (min-width: 950px) {
  .l-header__logo .c-logo-paw-lg {
    display: block;
  }
  .l-header__logo .c-logo-paw {
    display: none;
  }
}

/* inner
--------------------------- */
.c-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* section
--------------------------- */
.c-section {
  padding: 3.2rem 0 6.4rem 0;
}
@media (min-width: 520px) {
  .c-section {
    padding-top: 8rem;
  }
}
.c-section__header-box {
  margin-bottom: 3.2rem;
}
@media (min-width: 520px) {
  .c-section__header-box {
    margin-bottom: 8rem;
  }
}
.c-section__header-box--plan {
  margin-bottom: 6.4rem;
}
.c-section__header {
  color: #3e3e3e;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
@media (min-width: 520px) {
  .c-section__header {
    font-size: 2.4rem;
  }
}
.c-section__header--sub {
  color: #3e3e3e;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  padding-left: 0.8rem;
}
@media (min-width: 520px) {
  .c-section__header--sub {
    font-size: 1.6rem;
  }
}
.c-section__catch {
  color: #4c8aa4;
  font-family: sans-serif;
  font-weight: 600;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-bottom: 3.2rem;
}
@media (min-width: 520px) {
  .c-section__catch {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
.c-section__text {
  font-size: 1.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
@media (min-width: 520px) {
  .c-section__text {
    padding-top: 2rem;
    margin-bottom: 8rem;
    font-size: 1.8rem;
  }
}
/* scrolldown
--------------------------- */
/*========= スクロールダウンのためのCSS ===============*/
/*=== 9-1-2 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.c-scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 2;
}

/*Scrollテキストの描写*/
.c-scrolldown span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color: #3e3e3e;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.c-scrolldown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3e3e3e;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  -webkit-animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
          animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@-webkit-keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
/*上から下にかけて丸が透過→不透明→透過する*/
@-webkit-keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.c-scrolldown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: #3e3e3e;
}

/* hamburger
--------------------------- */
.p-openbtn {
  position: relative; /*ボタン内側の基点となるためrelativeを指定*/
  width: 52px;
  height: 64px;
  cursor: pointer;
}

/*ボタン内側*/
.p-openbtn span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  left: 16px;
  height: 2px;
  background-color: #3e3e3e;
}

.p-openbtn span:nth-of-type(1) {
  top: 28px;
  width: 60%;
}

.p-openbtn span:nth-of-type(2) {
  top: 36px;
  width: 40%;
}

.p-openbtn.active span:nth-of-type(1) {
  top: 24px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 48%;
}

.p-openbtn.active span:nth-of-type(2) {
  top: 36px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 48%;
}

/* hero
--------------------------- */
.p-hero {
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #81a8b8;
  background: url(../image/hero-img.jpg) no-repeat top center;
  background-size: cover;
  -webkit-transform-origin: center;
          transform-origin: center;
}

/* about
--------------------------- */
.p-about {
  height: auto;
  width: auto;
  background-image: url(../image/polaroid.webp);
  background-repeat: repeat;
}
.p-about__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 950px) {
  .p-about__logo {
    display: block;
  }
}
@media (min-width: 950px) {
  .p-about__logo .logo-text {
    display: none;
  }
}
.p-about__logo .logo-text-lg {
  display: none;
}
@media (min-width: 950px) {
  .p-about__logo .logo-text-lg {
    display: block;
  }
}
@media (min-width: 520px) {
  .p-about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 4rem;
  }
}
@media (min-width: 950px) {
  .p-about__content {
    padding-left: 8rem;
  }
}
.p-about__content-main {
  width: 100%;
}
@media (min-width: 520px) {
  .p-about__content-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 6rem 0 2rem;
  }
}
@media (min-width: 950px) {
  .p-about__content-description {
    padding-left: 6.4rem;
    margin-bottom: 8rem;
  }
}

/* plan
--------------------------- */
.p-plan {
  background: url(../image/halftone.png);
}
.p-plan__content-card {
  padding-top: 3.2rem;
  background-color: #fff9eb;
  margin-bottom: 4.8rem;
}
.p-plan__content-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.p-plan__content-description {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
}
.p-plan__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.6rem;
}
.p-plan__price-dt {
  padding-left: 3.2rem;
  width: 40%;
}
.p-plan__price-dd {
  width: 60%;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}
.p-plan__price-dd::before {
  content: "¥";
}
.p-plan__price-dd::after {
  content: "（税込み）";
  font-size: 1.2rem;
}
.p-plan__price-description {
  padding-bottom: 4.8rem;
  text-align: center;
  font-weight: 600;
}
.p-plan__button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-plan__button-yoyaku {
  border: #3e3e3e 1px solid;
  padding: 1.6rem 5.6rem;
  margin-bottom: 4.8rem;
}
.p-plan__button-line {
  border: #3e3e3e 1px solid;
  padding: 1.6rem 1.4rem;
  margin-bottom: 6.4rem;
}
.p-plan__content--location {
  background: url(../image/seamless_paper_texture.webp);
}