@use '../../foundation/variable' as *;

/* about
--------------------------- */
.about {
  padding: 70px 0;
  height: auto;
  width: auto;
  background: url(../image/polaroid.webp);

  section {
    margin: 0 0 10px 0;
  }

  section h3 {
    font-size: 0.9rem;
    margin: 0 0 10px 0;
  }

  section p {
    font-size: 0.8rem;
  }

  .menu-area {
    padding: 20px;
    box-shadow: 5px 0 10px #ccc;
  }

  .menu-btn {
    text-align: center;
    margin: 50px 0 0 0;
  }
}

.about {
  &__studio-introduction {
    text-align: center;
    width: 80%;
    margin: 0 auto 4rem;
  }

  &__studio-description {
    // margin-bottom: 16px;
    font-size: 0.8rem;
    @include breakpoint(tablet) {
      font-size: 0.9rem;
    }
    @include breakpoint(pc) {
      font-size: 1rem;
    }
    br {
      display: none;
      @include breakpoint(tablet) {
        display: block;
      }
    }

    span {
      display: inline-block;
      // @include breakpoint(tablet) {
      //   display: inline-block;
      // }
    }
  }
  &__studio-text {
    margin-bottom: 16px;
    font-size: 0.8rem;
    @include breakpoint(tablet) {
      font-size: 0.9rem;
    }
    @include breakpoint(pc) {
      font-size: 1rem;
    }
  }

  &__studio-image-box {
    // margin-bottom: 16px;

    &.gallery {
      columns: 2; /*段組みの数*/
    }
  }
}

.about__studio--french-shabby,
.about__studio--american-vintage {
  h3 {
    font-size: 30px;
    position: relative;
    padding: 1.5rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 2.4rem;

    span {
      font-size: 18px;
      display: block;
      letter-spacing: 0;
      font-weight: 400;
    }
  }
  h3:before {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 30px);
    width: 60px;
    height: 2px;
    content: '';
    background: $color-gray-500;
  }
}

/*　横幅900px以下の段組み設定　*/
@media only screen and (max-width: 900px) {
  .about__studio-image-box.gallery {
    columns: 2;
  }
}

@media only screen and (max-width: 768px) {
  .about__studio-image-box.gallery.gallery {
    columns: 1;
  }
}
