@use '../../foundation/variable' as *;

/* access
--------------------------- */
.access-note {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.8rem;

  span {
    display: inline-block;
    @include breakpoint(tablet) {
      display: inline;
    }
    @include breakpoint(pc) {
    }
  }
}
#access {
  background: url(../image/polaroid.webp);
}

#access .access-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

#access .access-img {
  width: 70%;
  min-height: 300px;
  // background: url('../image/brky-001.jpg') no-repeat center;
  // background-size: cover;
}

#access .access-area {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 1190px) {
  #access .access-img {
    width: 60%;
  }
  #access .access-area {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  #access .access-img {
    width: 48%;
  }
  #access .access-area {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  #access .access-img,
  #access .access-area {
    width: 100%;
  }
  #access .access-img {
    margin: 0 0 50px 0;
  }
}

#access .access-area img {
  // font-size: 1.3rem;
  width: 40%;
  margin: 0 auto 1rem;
  @include breakpoint(tablet) {
  }
  @include breakpoint(pc) {
    width: 70%;
  }
}

#access .access-area dt {
  font-size: 1rem;
  margin: 0 0 10px 0;
}

#access .access-area dd {
  font-size: 0.8rem;
  margin: 0 0 30px 0;
}

// ------------------------------------
// もとの
// ------------------------------------
.p-access {
  background-color: $color-gray-0;
  &__map-box {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 3.2rem;

    @include breakpoint(tablet) {
      padding-top: 25%;
    }
    @include breakpoint(pc) {
    }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__info-box {
    @include breakpoint(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include breakpoint(pc) {
    }
  }
  &__logo {
    // background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
    width: 60%;
    margin: 0 auto;

    @include breakpoint(tablet) {
      width: 48%;
      padding-left: 24%;
    }
    @include breakpoint(pc) {
    }
  }

  &__shop-info {
    // background-color: azure;
    padding: 0 0.8rem 1.6rem 1.6rem;
    font-size: 0.8rem;

    @include breakpoint(tablet) {
      width: 60%;
      font-size: 0.9rem;
    }
    @include breakpoint(pc) {
    }

    h3 {
      text-align: center;
      padding-bottom: 0.8rem;
      font-weight: 600;

      @include breakpoint(tablet) {
        text-align: left;
      }
      @include breakpoint(pc) {
      }
    }

    dt {
      float: left;
      font-weight: 400;
    }
    dt::after {
      content: ':';
      padding: 0 0.5rem;
    }

    dd span {
      font-size: 0.8rem;
      @include breakpoint(tablet) {
        font-size: 0.9rem;
      }
      @include breakpoint(pc) {
        font-size: 1rem;
      }
    }
  }

  &__notes {
    // background-color: aquamarine;
    font-size: 0.7rem;
    padding-bottom: 2.4rem;
    text-align: center;

    @include breakpoint(tablet) {
      text-align: center;
    }
    @include breakpoint(pc) {
    }
  }
}
