@use './foundation/variable' as *;

/* contact
--------------------------- */

#contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  // flex-direction: row-reverse;
  background: url(../image/polaroid.webp);
}

#contact .contact-img {
  width: 70%;
  min-height: 300px;
  background: url('../image/brky-001.jpg') no-repeat center;
  background-size: cover;
  @include breakpoint(tablet) {
  }
  @include breakpoint(pc) {
  }
  @include breakpoint(pc-w) {
    min-height: 500px;
  }
}

#contact .contact-area {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 1190px) {
  #contact .contact-img {
    width: 60%;
  }
  #contact .contact-area {
    width: 35%;
  }
}

@media screen and (max-width: 768px) {
  #contact .contact-img {
    width: 48%;
  }
  #contact .contact-area {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  #contact .contact-img,
  #contact .contact-area {
    width: 100%;
  }
  #contact .contact-img {
    margin: 0 0 50px 0;
  }
}

#contact .contact-area h2 {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}

#contact .contact-area dt {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
}

#contact .contact-area dd {
  font-size: 0.8rem;
  margin: 0 0 30px 0;
}
