.p-openbtn {
  position: relative; /*ボタン内側の基点となるためrelativeを指定*/
  width: 64px;
  height: 64px;
  cursor: pointer;
  background: aqua;
}

/*ボタン内側*/

.p-openbtn span {
  display: inline-block;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  left: 16px;
  height: 2px;
  background-color: #3e3e3e;
}

.p-openbtn span:nth-of-type(1) {
  top: 28px;
  width: 50%;
}

.p-openbtn span:nth-of-type(2) {
  top: 36px;
  width: 32%;
}

//activeクラスが付与されると線が回転して×に

.p-openbtn.active span:nth-of-type(1) {
  top: 24px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 48%;
}

.p-openbtn.active span:nth-of-type(2) {
  top: 36px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 48%;
}
