@use '../../foundation/variable' as *;

/* plan
--------------------------- */
.p-plan {
  background: url(../image/halftone.png);

  &__content--studio,
  &__content--stamp {
    @include breakpoint(pc) {
      position: relative;
      width: 960px;
      margin: 0 auto;
    }
  }

  &__content--studio {
    height: 664px;
  }

  &__content--location {
    background: url(../image/seamless_paper_texture.webp);
    padding-top: 6.4rem;

    @include breakpoint(pc) {
      height: 680px;
      position: relative;
      margin: 0 auto;
    }
  }

  &__content--stamp {
    padding-top: 6.4rem;

    @include breakpoint(pc) {
      height: 680px;
    }
  }

  &__images {
    @include breakpoint(pc) {
      position: absolute;
      z-index: 5;
    }

    &.second-right {
      @include breakpoint(pc) {
        position: absolute;
        top: 36%;
        right: 0;
        width: 55%;
        transform: translateY(-50%);
      }
    }
  }

  &__content-img {
    @include breakpoint(tablet) {
      display: none;
    }
    @include breakpoint(pc) {
    }
  }

  &__content-img-lg {
    display: none;

    @include breakpoint(tablet) {
      display: block;
      width: 75%;
      margin: auto;
    }
    @include breakpoint(pc) {
      margin: 0;
      width: 536px;
    }
  }

  &__content-card {
    width: 98%;
    padding-top: 3.2rem;
    margin: 0 auto;
    background-color: #fff9eb;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);

    @include breakpoint(tablet) {
      width: 75%;
    }
    @include breakpoint(pc) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 4rem;
    }

    &.first-right,
    &.third-right {
      @include breakpoint(pc) {
        position: absolute;
        top: 50%;
        right: 0;
        width: 70%;
        transform: translateY(-50%);
      }
    }

    &.first-right {
      @include breakpoint(pc) {
        padding-bottom: 2rem;
      }
    }

    &.second-left {
      @include breakpoint(pc) {
        position: absolute;
        top: 32%;
        left: 50;
        width: 50%;

        display: flex;
      }
      .child-1 {
        @include breakpoint(pc) {
          order: 2;
        }
      }

      .child-2 {
        @include breakpoint(pc) {
          order: 1;
        }
      }
    }

    &.third-right {
      @include breakpoint(pc) {
        padding-bottom: 2rem;
      }
    }
  }

  &__content-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
  }

  &__content-description {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 3.2rem;
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.6rem;
    line-height: 2;
  }

  &__price-dt {
    padding-left: 10%;
    width: 40%;
  }

  &__price-dt--stamp {
    font-size: 1.5rem;
    line-height: 1.4;
    width: 100%;
    padding: 0 9%;
  }

  &__price-dd {
    width: 60%;
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    padding-left: 8%;

    &::before {
      content: '¥';
    }

    &::after {
      content: '（税込み）';
      font-size: 1.2rem;
    }
  }

  &__price-dd--quantity {
    width: 40%;
    text-align: right;
    font-weight: 600;

    &::after {
      content: '枚';
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__price-description {
    padding-bottom: 4.8rem;
    text-align: center;
    font-weight: 600;

    span {
      font-weight: 500;
      font-size: 1.8rem;
    }
  }

  &__content-card-button--lg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.8rem;

    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
      display: none;
    }
  }
}
