@use '../../foundation/variable' as *;

/* plan
--------------------------- */
.plan-text {
  text-align: center;
  margin: 0 auto 4rem;
  // font-size: 0.8rem;
  width: 80%;
}

.plan {
  background: url('../image/halftone.png');
}

.plan-content-wrapper {
  @include breakpoint(tablet) {
  }
  @include breakpoint(pc) {
    display: flex;
  }
}

.p-plan {
  &__content--studio,
  &__content--stamp {
    @include breakpoint(pc) {
      // position: relative;
      // width: 100%;
      // margin: 0 auto;
      // background: url('../image/halftone.png');
    }
  }

  &__content--studio {
    @include breakpoint(pc) {
      // height: 664px;
      padding: 0;
    }
  }

  &__content--location {
    // background: url('../image/seamless_paper_texture.webp');
    // padding-top: 6.4rem;
    padding: 8rem 0;

    @include breakpoint(pc) {
      // height: 744px;
      // position: relative;
      // margin: 0 auto;
      padding: 0;
    }
  }

  &__content--stamp {
    // padding-top: 6.4rem;
    padding: 0 0 8rem;

    @include breakpoint(pc) {
      // height: 840px;
      padding: 0;
    }
  }

  &__images {
    padding-bottom: 1rem;
    @include breakpoint(pc) {
      // position: absolute;
      // z-index: 10;
      // padding-left: 3rem;
    }

    &.second-right,
    &__content-img {
      @include breakpoint(pc) {
        // position: absolute;
        // top: 40%;
        // left: 550px;
        // width: 64%;
        // transform: translateY(-50%);
      }
    }
  }

  &__content-img {
    @include breakpoint(tablet) {
      width: 616px;
      height: 424px;
      // width: 75%;
      // margin: auto;
      display: none;
    }
    @include breakpoint(pc) {
      // margin: 0;
      // width: 60%;
    }
  }

  &__content-img-lg {
    display: none;

    @include breakpoint(tablet) {
      display: block;
      width: 82%;
      margin: auto;
    }
    @include breakpoint(pc) {
      // margin: 0;
      // width: 60%;
    }
  }

  &__content-img-lg--second {
    display: none;
    @include breakpoint(tablet) {
      display: block;
      width: 82%;
      margin: auto;
    }
    @include breakpoint(pc) {
      // width: 60%;
    }
  }

  &__content-card {
    width: 98%;
    // padding-top: 1.25rem;
    margin: 0 auto;
    background-color: #fff9eb;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    padding: 1.25rem 1rem;

    @include breakpoint(tablet) {
      width: 85%;
      // padding: 1.25rem 1rem;
    }
    @include breakpoint(pc) {
      // display: flex;
      // justify-content: space-between;
      // flex-direction: row-reverse;
      // padding-left: 3%;
      // padding-right: 3.2%;
      // padding-top: 2rem;
      // padding: 44px 24px 0 24px;
    }

    &.first-right,
    &.third-right {
      @include breakpoint(pc) {
        // position: absolute;
        // top: 56%;
        // right: 90px;
        // width: 700px;
        // transform: translateY(-50%);
        // padding-left: 3%;
      }
    }

    &.first-right {
      @include breakpoint(pc) {
        // height: 433px;
      }
    }

    &.second-left {
      @include breakpoint(pc) {
        // position: absolute;
        // top: 32%;
        // left: 80px;
        // width: 700px;
        // padding-right: 2%;
        // height: 433px;

        // display: flex;
      }
      .child-1 {
        @include breakpoint(pc) {
          // order: 2;
        }
      }

      .child-2 {
        @include breakpoint(pc) {
          // order: 1;
        }
      }
    }

    &.third-right {
      @include breakpoint(pc) {
        // top: 54%;
        // height: 495px;
      }
    }
  }

  &__content-card-wrapper {
    @include breakpoint(pc) {
      // width: 420px;
    }
  }

  &__content-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

    @include breakpoint(pc) {
      font-size: 1.5rem;
    }
  }

  &__content-description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;

    // @include breakpoint(pc) {
    //   font-size: 1.8rem;
    // }
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__price-dt {
    padding-left: 10%;
    width: 40%;
  }

  &__price-dt--stamp {
    font-size: 1rem;
    width: 100%;
    padding: 0 9%;
  }

  &__price-dd {
    width: 60%;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 8%;

    &::before {
      content: '¥';
    }

    &::after {
      content: '（税込み）';
      font-size: 0.8rem;
    }
  }

  &__price-dd--quantity {
    width: 40%;
    text-align: right;
    font-weight: 500;

    &::after {
      content: '枚';
      font-size: 1rem;
      font-weight: 400;
    }
  }

  &__price-description {
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 500;

    span {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  &__content-card-button--lg {
    text-align: center;
    display: none;
    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
      // display: block;
    }
  }

  &__button-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    text-align: center;

    @include breakpoint(tablet) {
    }
    @include breakpoint(pc) {
      // display: none;
    }
  }
}
