@use "../../foundation/variable" as *;

/* voice
--------------------------- */

.p-voice {
  background: url(../image/polaroid.webp);

  &__card {
    position: relative;
    width: 100%;
    // height: 200px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    border-radius: 8px;
  }
  &__card::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 */
  }
  &__card--front,
  &__card--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
  }
  &__card--front {
    color: #2d1e60;
    background: #ff4f6f;
    border-radius: 8px;
  }
  &__card--back {
    color: #ff4f6f;
    background: #2d1e60;
    transform: rotateY(-180deg);
    border-radius: 8px;
  }
  &__card--image {
    border-radius: 8px;
  }
}

.flipped {
  .p-voice__card--front {
    transform: rotateY(180deg);
  }
  .p-voice__card--back {
    transform: rotateY(0);
  }
}
