@use './foundation/variable' as *;

/* inner
--------------------------- */
.inner {
  width: 100%;
  margin: 0 auto;
  padding: 70px;
  // @include breakpoint(tablet) {
  // }
  // @include breakpoint(pc) {
  // }
  // @include breakpoint(pc-w) {
  //   // max-width: 1440px;
  // }
}

@media screen and (max-width: 940px) {
  .inner {
    padding: 30px;
  }
}

@media screen and (max-width: 450px) {
  .inner {
    padding: 16px;
  }
}
