/* inner
--------------------------- */
.c-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

// .c-innner--p-location {
//   background: url(../image/seamless_paper_texture.webp);
// }
