@use './foundation/variable' as *;

/* insta-feed
--------------------------- */

.lightwidget {
  font-family: 'Zen Kaku Gothic New', 'Sawarabi Gothic', sans-serif !important;
}

.insta-feed {
  &__wrapper {
    padding-top: 4rem;
  }
  &__message {
    padding: 4rem 0;
    .follow-us {
      width: 40%;
      margin: 0 auto;
      @include breakpoint(tablet) {
        width: 20%;
      }
      @include breakpoint(pc) {
        width: 12%;
      }
      @include breakpoint(pc-w) {
      }
    }
    .icon-instagram {
      width: 10%;
      margin: 0 auto;
      padding: 2rem 0 4rem;
      @include breakpoint(tablet) {
        width: 6%;
      }
      @include breakpoint(pc) {
        width: 4%;
      }
      @include breakpoint(pc-w) {
      }
    }
    p {
      font-size: 0.8rem;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 1rem;
      }
      @include breakpoint(pc) {
      }
      @include breakpoint(pc-w) {
      }
    }
  }
}
